/*** AngularJS Directives ***/
/*** App ***/
/* General */
body {
  margin: 0px;
  padding: 3px;
  background: #c0c9d9;
}

.required, .red { color: #f03320; }

body, table {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.dataTables_wrapper {
  max-width: 1024px;
}

/* Schedule Table */
.dataTables_wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
thead tr {
  background: #c0c9d9;
}
tbody td,
thead th {
  padding: 2px;
}
td {
  height: 54px;
}

/* table cell styling */
.tCenter  { text-align: center; }
.tRight   { text-align: right; }
.indent {
  display: inline-block;
  margin-left: 1em;
}
@media screen and (max-width: 480px) {
td.mobile-apInfo {
  vertical-align: top;
}
td.mobile-initial {
  font-size: 18px;
}
}

/* ? css_right expected by jQueryUI but missing */
.css_right  {float: right; }

.odd   { background: #fefdf9; }
.even  { background: #e8eff0; }

.DTFC_LeftWrapper td{
  background: rgba(0, 0, 0, 0.08);
}

/* temp hack */
.DTFC_LeftWrapper {
  width: 141px !important;
}
.DTFC_LeftBodyLiner {
  width: 141px !important;  
}
.DTFC_LeftWrapper thead th:first-child,
.DTFC_LeftWrapper tbody tr td:first-child {
  width: 78px !important;
}
.DTFC_LeftWrapper thead th:nth-child(2),
.DTFC_LeftWrapper tbody tr td:nth-child(2) {
  width: 63px !important;
}
