/* general */
body {
  background: #c0c9d9;
  font-family: sans-serif;
  font-size: 80%;
}

.dataTables_wrapper {
  width: 320px;
}

.dataTables_wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
tbody td {
  padding: 1px 3px;
}

/* ? expected by jQueryUI but missing */
.css_right  {float: right; }

.odd   { background: #fefdf9; }
.even  { background: #e8eff0; }

/* temp hack */
.DTFC_LeftWrapper td{
  background: rgba(0, 0, 0, 0.08);
}
.DTFC_LeftWrapper {
  width: 15.08em !important;
}
.DTFC_LeftBodyLiner {
  width: 15.1em !important;  
}
.DTFC_LeftWrapper thead th:first-child,
.DTFC_LeftWrapper tbody tr td:first-child {
  width: 6em !important;
}
.DTFC_LeftWrapper thead th:nth-child(2),
.DTFC_LeftWrapper tbody tr td:nth-child(2) {
  width: 4.5em !important;
}
.DTFC_LeftWrapper thead th:nth-child(3),
.DTFC_LeftWrapper tbody tr td:nth-child(3) {
  width: 4.5em !important;
}
