<!doctype html>
<!-- Hello PhoneGap AngularJS App 
  -- 09-08-2013 alisa.ky.chen@gmail.com -->
<html ng-app>
<head>
  <!-- script, Angular framework -->
  <script src="js-framework/angular.min.js"></script>

  <!-- script, Cordova -->
  <!-- NOTE: cordova.js not in folder; using PhoneGap Build online -->
  <script src="cordova.js" type="text/javascript"></script>

  <!-- script, model and controller -->
  <!-- script src="js/promise-phonegap-ready.js"></script -->
  <script src="js/model-controller.js"></script>
  
  <!-- style -->
  <link rel="stylesheet" href="css/todo.css" />
  <title>Hello PhoneGap AngularJS App</title>
</head>
<body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    <div ng-controller="TodoCtrl">
      <h2>To Do:</h2>
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
</body>
</html>
